body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures that the body takes up at least the full height of the viewport */
}

header {
    background-color: white;
    color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #007bff;
    text-decoration: none;
}

.get-prediction {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1; /* Ensures the container takes up available space and pushes footer to bottom */
}

.news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.news-box {
    background-color: white;
    border: 1px solid #007bff; /* Red border */
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.news-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-box img {
    width: 100%;
    height: 180px; /* Adjust height as needed */
    object-fit: cover;
}

.news-content {
    padding: 15px;
    flex: 1;
}

.news-content h2 {
    font-size: 18px;
    margin: 0 0 10px;
}

.date-source {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

.news-content p {
    font-size: 14px;
    color: #666;
    margin: 0 0 15px;
}

.read-more-button {
    display: block;
    text-align: center;
    background-color: #007BFF; /* Blue color */
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.read-more-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: #333;
}

footer h3 {
    margin-top: 0;
}

footer p {
    margin: 5px 0;
}

footer .social-links a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

footer .social-links a:hover {
    text-decoration: underline;
}

#title {
    text-align: center;
    margin: 20px 0;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px; /* Adjust as needed */
    margin-right: 10px; /* Space between logo and title */
    margin-top: -3%;
}